.listContainer {
  font-size: 12px;

  .listNav {
    padding: 1rem 0;
    display: flex;
    justify-content: center;

    Button {
      margin: 0 1rem;
    }
  }

  td.different-value {
    background-color: red;
    /* Add any other styling you want for cells with different values */
  }

  img {
    width: 10%;
  }
}